/assignment_4/*.jou
/assignment_5/*.log
*.pb
*.sdb
*.log
*.jou
*.wdf
*.rlx
*.html
*.wpc
README.txt
*.xml
*.txt
*.bat
*.btree
*.dbg
*.exe
*.info
*.ini
*.lpr
*.mem
*.prj
*.reloc
*.rtti
*.svtype
*.type
*.wdb
*.xdbg
